p {color : green;
  font-size: 18px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family: Arial;
  padding: 0px;
  margin: 0px;
  }

.world  {
  width: 20%;
  height: 50px;
  margin-top: 50px;
  margin: 0 auto;
  background: yellowgreen;
  border: solid 1px green;
    border-radius: 7px;
}

body {
  background: #E0FFFF;
}

span {
  color : red;
  font-size: 25px;
  font-family: cursive;
}
